<% provide :page_title, 'Admin Users' %>

<h1 class="mb-4">Admin USers</h1>

<%= paginate @users %>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			
		</tr>
	</thead>
		<tbody>
			<%= render @users %>
		</tbody>
	</table>
<%= paginate @users %>
